* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--color-text-on-primary-extra-dark);
  font-size: var(--font-size);
  font-family: var(--font-family-sans);
  background-color: var(--color-primary-extra-dark);
}

a {
  color: var(--color-link-on-primary-extra-dark);

  &:hover {
    text-decoration: none;
  }
}

section:not(:last-of-type) {
  border-bottom: 3px solid #fff;
}
