:root {
  --color-primary-extra-dark: #131a40;
  --color-primary-dark: #273273;
  --color-primary: #4e64a6;
  --color-primary-light: #829fd9;
  --color-primary-extra-light: #99b7f9;
  --color-text-on-primary-extra-dark: #fff;
  --color-text-on-primary-dark: #fff;
  --color-text-on-primary: #fff;
  --color-text-on-primary-light: #4b4b4b;
  --color-text-on-primary-extra-light: #4b4b4b;
  --color-link-on-primary-extra-dark: var(--color-primary-extra-light);
}
