.intro {
  padding: 5rem 3rem 7rem;
  text-align: center;

  &__greeting {
    font-family: var(--font-family-mono);
    margin-bottom: 3rem;
  }

  &__primary-info {
    margin: 3rem 0;
    font-weight: normal;
    font-size: 4rem;
  }

  &__name {
    color: var(--color-primary-extra-light);
    font-size: 4rem;
    font-family: var(--font-family-sans);
  }

  &__secondary-info {
    line-height: 1.5;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}
