.intro {
  padding: 4rem 3rem 10rem;

  p {
    font-size: 1rem;
    line-height: 1.5;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__header {
    margin: 3rem 0;
    font-weight: normal;
    font-size: 4rem;
  }

  &__greeting {
    font-family: var(--font-family-mono);

    span {
      display: block;
      color: var(--color-primary-extra-light);
      font-size: 4rem;
      font-family: var(--font-family-sans);
    }
  }
}
